<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask - SQLite</title>
</head>
<body>
  <h2>Flask - Database SQLite</h2>
  <table border ="1">
    <tr>
      <th width=60>ID</th>
      <th width=200>Judul</th>
      <th width=170>Penulis</th>
      <th width=170>Penerbit</th>
      <th width=80>Ubah</th>
      <th width=80>Hapus</th>
    </tr>
    {% for row in container %}
    <tr>
      <td>{{ row[0] }}</td>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
      <td>{{ row[3] }}</td>
      <td><a href="http://localhost:5000/ubah/">Ubah</a></td>
      <td><a href="http://localhost:5000/hapus/">Hapus</a></td>
    </tr>
    {% endfor %}
  </table>
  <p><a href="http://localhost:5000/tambah/">Tambah Data</a></p>
</body>
</html>